

.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  position: relative;
}

.addUser{
  display: flex;
  justify-content: flex-end;
  margin-top: 1%;
}



/* @media only screen and (max-width: 768px) { */
  /* For mobile phones: */
  /* .App {
    text-align: center;
    background-color: #282c34;
    min-height: 200vh;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: hidden;
  }
  
  .sidebar{
  background-color: #f7f7f7; 
  position: fixed;
  color: black;
  height: 100vh;
  overflow-y: scroll;
  }
  }
  img{
    transform : translateX(50%);
    opacity: 0;
    transition: all 500ms;
  }
  .fade{
    transform: translateX(0);
    opacity: 1.0;
    transition: all ease-in-out 500ms;
  } */

